<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
        <link rel="stylesheet" href="css/style.main.css">
    </head>
        
    <body>
        <div id="form">
            <div class="title">Squizzor Object Attacher</div>

            <div>Registered objects:</div>
            <div>
                <select class="full-width" v-model="selectedRegisteredObject" @change="onRegisteredObjectChange()">
                    <option v-for="objectKey in Object.keys(registeredObjects)" :value="objectKey">
                      {{ objectKey }}
                    </option>
                </select>
            </div>       
            
            <div></div>

            <div class="tabs">
                <div class="tab" :class="{ 'tab-active': activeTab == 1 }" @click="setActiveTab(1)">Attachment</div>
                <div class="tab" :class="{ 'tab-active': activeTab == 2 }" @click="setActiveTab(2)">Animation</div>
            </div>

            <div v-if="activeTab == 1" class="tab-content">
                <div class="title">Attachment info</div>

                <div>Object name:</div>
                <div><input type="text" class="full-width" v-model="objectName" @change="onObjectChange()"></div>
                
                <div>Bone id:</div>
                <div><input type="text" class="full-width" v-model="boneId" @change="onObjectChange()"></div>
    
                <div class="title">Position offset</div>

                <div>Position X:</div>
                <input type="range" class="slider floating" v-model="position.x" @change="onObjectChange()" :min="positionSliderMin" :max="positionSliderMax" :step="positionSliderStep">
                <div><input type="text" class="positioning-field floating" v-model="position.x" @change="onObjectChange()"></div>
    
                <div>Position Y:</div>
                <input type="range" class="slider floating" v-model="position.y" @change="onObjectChange()" :min="positionSliderMin" :max="positionSliderMax" :step="positionSliderStep">
                <div><input type="text" class="positioning-field floating" v-model="position.y" @change="onObjectChange()"></div>
    
                <div>Position Z:</div>
                <input type="range" class="slider floating" v-model="position.z" @change="onObjectChange()" :min="positionSliderMin" :max="positionSliderMax" :step="positionSliderStep">
                <div><input type="text" class="positioning-field floating" v-model="position.z" @change="onObjectChange()"></div>
 
                <div class="title">Rotation</div>

                <div>Rotation X:</div>
                <input type="range" class="slider floating" v-model="rotation.x" @change="onObjectChange()" :min="rotationSliderMin" :max="rotationSliderMax" :step="rotationSliderStep">
                <div><input type="text" class="positioning-field floating" v-model="rotation.x" @change="onObjectChange()"></div>
    
                <div>Rotation Y:</div>
                <input type="range" class="slider floating" v-model="rotation.y" @change="onObjectChange()" :min="rotationSliderMin" :max="rotationSliderMax" :step="rotationSliderStep">
                <div><input type="text" class="positioning-field floating" v-model="rotation.y" @change="onObjectChange()"></div>
    
                <div>Rotation Z:</div>
                <input type="range" class="slider floating" v-model="rotation.z" @change="onObjectChange()" :min="rotationSliderMin" :max="rotationSliderMax" :step="rotationSliderStep">
                <div><input type="text" class="positioning-field floating" v-model="rotation.z" @change="onObjectChange()"></div>

                <div class="spacer"></div>

                <div class="button full-width" @click="attachObject()">Attach object</div>
                <div class="button full-width" @click="detachObject()">Detach object</div>
            </div>

            <div v-if="activeTab == 2" class="tab-content">
                <div class="title">Enter animation</div>

                <div>Dictionary:</div>
                <div><input type="text" class="full-width" v-model="enterAnimation.dict" @change="onAnimationChange()"></div>
    
                <div>Name:</div>
                <div><input type="text" class="full-width" v-model="enterAnimation.name" @change="onAnimationChange()"></div>

                <div>Flag:</div>
                <div><input type="text" class="full-width" v-model="enterAnimation.flag" @change="onAnimationChange()"></div>

                <div>Duration in ms (optional):</div>
                <div><input type="text" class="full-width" v-model="enterAnimation.durationMs" @change="onAnimationChange()"></div>

                <div class="button full-width" @click="playEnterAnimation()">Play</div>

                <div class="title">Exit animation</div>

                <div>Dictionary:</div>
                <div><input type="text" class="full-width" v-model="exitAnimation.dict" @change="onAnimationChange()"></div>

                <div>Name:</div>
                <div><input type="text" class="full-width" v-model="exitAnimation.name" @change="onAnimationChange()"></div>

                <div>Flag:</div>
                <div><input type="text" class="full-width" v-model="exitAnimation.flag" @change="onAnimationChange()"></div>

                <div>Duration in ms (optional):</div>
                <div><input type="text" class="full-width" v-model="exitAnimation.durationMs" @change="onAnimationChange()"></div>
    
                <div class="button full-width" @click="playExitAnimation()">Play</div>

                <div class="title">Sequence</div>

                <div>
                    <input type="checkbox" v-model="autoPlaySequenceOnChange">
                    Autoplay sequence on change
                </div>

                <div>
                    <input type="checkbox" v-model="detachObjectAfterSequence" @change="onAnimationChange()">                
                    Detach object after sequence
                </div>

                <div class="button full-width" @click="playSequence()">Play sequence</div>
                <div class="button full-width" @click="resetAnimation()">Reset</div>
            </div>

            <div class="title">Object string</div>

            <div>Object key (has to be unique):</div>
            <div><input type="text" class="full-width" v-model="objectKey" @change="onObjectChange()"></div>

            <div>Object string:</div>
            <div><textarea type="text" class="full-width" v-model="objectString" id="object-string" readonly></textarea></div>

            <div class="button full-width" @click="copyObjectString()">Copy object string</div>
        </div>
    </body>

    <script src="script/controller.js"></script>
</html>